# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Data folder
app/data/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.myvenv/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Dependency files
*.egg-info/
.eggs/